@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>
<table class="table tablasadmin">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroExt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codpos)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroExt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codpos)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-secondary">Detalles</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
<button onclick="atras()">Volver a pagina Admins</button>

<script>
    var link = 'https://localhost:7095';
    $(document).ready;
    function atras() {
        location.href = link + '/Home/Admin';
    }
</script>